<nav class="navbar navbar-expand-custom navbar-mainbg">
    <span class="brand-name"><a class="navbar-brand navbar-logo" href="{% url 'index' %}">DigitalBoard</a></span>
    <span class="brand-name-user">Welcome {{user.email}} </span>

    
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'classroom' %}"><i class="fas fa-chalkboard-teacher"></i><span class="nav-text">Classroom</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'viewvideos' class.classTeacherMail  %}"><i class="fas fa-play-circle"></i><span class="nav-text">Videos</span></a>
            </li>

            
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'classroomcontent' class.classTeacherMail %}"><i class="fas fa-book"></i><span class="nav-text">Assignments</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'todo' %}"><i class="fas fa-tasks"></i>To Do</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'aboutus' %}"><i class="fas fa-info-circle"></i><span class="nav-text">About Us</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span class="nav-text">Logout</span></a>
            </li>
        </ul>
    </div>
</nav>




