
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="{% url 'index' %}">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="{% url 'aboutus' %}">About</a></li>
      <li class="menu__item"><a class="menu__link" href="https://saksham117.github.io/Portfolio_2021/">Contact</a></li>

    </ul>
    <p>&copy;2021 Saksham Basandrai | All Rights Reserved</p>
  </footer>

  <!-- kept the script tags here on purpose -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>