<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html>
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/classroom/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/classroom/table.css' %}">



</head>
<body>
    {% include "./headerStudent.html" %}
        
    {% if user.is_authenticated %}
            {% if assignments %}
                <div class="container-table">
                    <h2>To Do List</h2>
                    <ul class="responsive-table">
                        <li class="table-header">
                            <div class="col col-11">Submission Date</div>
                            <div class="col col-21">Title</div>
                            <div class="col col-31">Attachments</div>
                            <div class="col col-41">Course</div>
                            <div class="col col-51">Course ID</div>
                        </li>
                        {% for assignment in assignments %}
                            {% if not assignment.resource %}
                            <li class="table-row">
                                <div class="col col-11" data-label="Submission Date">{{ assignment.submissionDate }}</div>
                                <div class="col col-21" data-label="Title">{{ assignment.title }}</div>
                                <div class="col col-31" data-label="Attachments">
                                    {% if assignment.attachments %}
                                    <a href="{{ assignment.attachments.url }}" target="_blank">{{ assignment.attachments}}</a>
                                    {% else %}
                                        No attachments
                                    {% endif %}
                                </div>
                                <div class="col col-41" data-label="Course">{{assignment.classroom.className}}</div>
                                <div class="col col-51" data-label="Course ID">{{assignment.classroom.courseID}}</div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            {% else %}
                <section class="banner">
                    <div class="container">
                    <div class="banner-text">
                        <h1>Hurray!</h1>
                        <p> 
                            You have no pending assignments. All assignmnets have been submitted.
                        </p>
                    </div>
                    </div>
                    <img class="banner-image" id = "joinClassImage" src="https://preview.ibb.co/bMi5Y6/banner_img.png" alt="monitoring" >
                </section>

            {% endif %}
        {% else %}
        <a href="{% provider_login_url 'google' %}">Login With Google</a>
    {% endif %}




    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src = "{% static 'js/header.js' %}"></script>
</body>
</html>