<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/classroom/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/classroom/assignments.css' %}">


</head>
<body>
    {% if user.is_staff %}
        {% include "./classroomHeaderTeacher.html" %}
    {% else %}
        {% include "./classroomHeaderStudent.html" %}
    {% endif %}
        {% if user.is_authenticated %}
        {% if messages %}
                    {% for message in messages %}
                    <div class="success-message">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{message}}
                    </div>
                    {% endfor %}
        {% endif %}


        <div class="container" style="margin-top:5%;">
            <div class="row">
                {% if assignments %}
                    {% for assignment in assignments %}
                        {% if assignment.pinned %}
                            <div class="mb-30 col-md-6 col-lg-4">
                                <div class="card">
                                    <img class="card-icon" src="{% static 'images/classroom/assignment.png' %}" alt="monitoring" >
                                    <h3 class="card-title">{{ assignment.title }} <i class="fas fa-thumbtack" style="margin-left: 10%;"></i> </h3> 
                                    <h4 class="card-title"><i class="fas fa-calendar-alt"></i>Deadline: {{assignment.submissionDate}}</h4>
                                    <p class="card-text">
                                        {{ assignment.description }} <br>
                                        {% if assignment.attachments %}
                                            <i class="fas fa-file-alt"></i> <a href="{{ assignment.attachments.url }}" target="_blank"> View Attachment</a> 
                                        {% else %}
                                        <i class="fas fa-file-alt"></i> No attachments
                                        {% endif %}
                                    </p>

                                    {% if user.is_staff and user.email == class.teacher and not assignment.resource  %}
                                        <a href="{% url 'viewSubmissions' class.classTeacherMail assignment.assignmentCode %}">
                                            <button type="button" class="btn btn-info submissionButton">View Submissions</button>
                                        </a>
                                    {% else %}
                                        {% if not assignment.resource %}
                                        <a href="{% url 'submitassignment' class.classTeacherMail assignment.assignmentCode %}">
                                            <button type="button" class="btn btn-info submissionButton">Click Here to Submit</button>
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for assignment in assignments %}
                        {% if not assignment.pinned %}
                            <div class="mb-30 col-md-6 col-lg-4">
                                <div class="card">
                                    <img class="card-icon" src="{% static 'images/classroom/assignment.png' %}" alt="monitoring" >
                                    <h3 class="card-title">{{ assignment.title }}</h3> 
                                    <h4 class="card-title"><i class="fas fa-calendar-alt"></i>Deadline: {{assignment.submissionDate}}</h4>
                                    <p class="card-text">
                                        {{ assignment.description }} <br>
                                        {% if assignment.attachments %}
                                            <i class="fas fa-file-alt"></i> <a href="{{ assignment.attachments.url }}" target="_blank"> View Attachment</a> 
                                        {% else %}
                                        <i class="fas fa-file-alt"></i> No attachments
                                        {% endif %}
                                    </p>

                                    {% if user.is_staff and user.email == class.teacher and not assignment.resource  %}
                                        <a href="{% url 'viewSubmissions' class.classTeacherMail assignment.assignmentCode %}">
                                            <button type="button" class="btn btn-info submissionButton">View Submissions</button>
                                        </a>
                                    {% else %}
                                        {% if not assignment.resource %}
                                        <a href="{% url 'submitassignment' class.classTeacherMail assignment.assignmentCode %}">
                                            <button type="button" class="btn btn-info submissionButton">Click Here to Submit</button>
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}


                    {% for quiz in quizzes %}
                        <div class="mb-30 col-md-6 col-lg-4">
                            <div class="card">
                                <img class="card-icon" src="{% static 'images/classroom/assignment.png' %}" alt="monitoring" >
                                <h3 class="card-title">{{ quiz.title }}</h3> 
                                <h4 class="card-title"><i class="fas fa-calendar-alt"></i>Quiz Date: {{quiz.quizDate}}</h4>
                                <p class="card-text">
                                    
                                    
                                </p>

                                <a href="{{quiz.quiz}}">
                                    <button type="button" class="btn btn-info submissionButton">Go To Quiz</button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}


                {% else %}

                    {% if quizzes %}

                        {% for quiz in quizzes %}
                            <div class="mb-30 col-md-6 col-lg-4">
                                <div class="card">
                                    <img class="card-icon" src="{% static 'images/classroom/assignment.png' %}" alt="monitoring" >
                                    <h3 class="card-title">{{ quiz.title }}</h3> 
                                    <h4 class="card-title"><i class="fas fa-calendar-alt"></i>Quiz Date: {{quiz.quizDate}}</h4>
                                    <a href="{{quiz.quiz}}">
                                        <button type="button" class="btn btn-info submissionButton">Go To Quiz</button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        
                    {% else %}

                    </div>
                    </div>
                        <section class="banner">
                            <div class="container">
                            <div class="banner-text">
                                <h1>Yayy! No Assignments</h1>
                                <p> 
                                    The teacher hasn't uploaded any assignments so far!
                                </p>
                            </div>
                            </div>
                            <img class="banner-image" id = "joinClassImage" src="https://preview.ibb.co/bMi5Y6/banner_img.png" alt="monitoring" >
                        </section>

                    {% endif %} 

                {% endif %}
              
            </div>
        </div>
        {% else %}
        <a href="{% provider_login_url 'google' %}">Login With Google</a>
        {% endif %}




    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src = "{% static 'js/header.js' %}"></script>
</body>
</html>