.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.video_container {
    width: 70%;
    margin-top: 5% !important;
    margin-left: 5%;

}

.chatbot_container {
    width: 30%;
    margin-top: 15% !important;
    margin-right: 15%;
    margin-left: -20%;
}

.form-input {
    width: 100%;
}

.form-heading {
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    margin-bottom: 3%;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    color: white;
    background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}